h1 {
    text-align: center;
    padding: 50px;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

input {
    height: 35px;
    width: 200px;
    font-size: 1.7em;
}

.rw_search_query:invalid {
    background: red;
  }